    * { box-sizing: border-box; }
    html, body { height: 100%; margin: 0; background: #343a40; font-family: 'Abel', sans-serif; color: white; font-size: 14px;}
    a:link, a:visited { color: #005689; text-decoration: none; border-bottom: 0.0625rem solid #dcdcdc; }
    a:hover, a:active { border-color: #6e99b3; }

    sup { position: relative; vertical-align: baseline; top: -.4em; }
    #map { width: 100%; height: 100%; background: #01070e; }
    #map canvas { position: absolute; }
    #map .leaflet-control-zoom { bottom: 25px; position: fixed; }
    .leaflet-container { font-family: 'Abel', sans-serif; }
    .leaflet-marker-pane { pointer-events: none; display: none; }

    .btn { cursor: pointer; }
    .btn:hover { opacity: 0.5; }
    .btn.selected, .btn.selected:hover { opacity: 1; cursor: default; }

    #nav { position: fixed; top: 0px; left: 0px; width: 100%; height: 25px; background: rgba(50,50,50,0.85); z-index: 1001; padding: 3px 2px 0px; }
    #nav .nav-subhead { font-size: 14px; letter-spacing: 1px; display: inline-block; vertical-align: top; margin-right: 10px; margin-left: 10px; font-weight: bold;}

    #foot { position: fixed; left:2px; bottom: 0px; width: calc(100% - 300px); height: 25px; background: rgba(41, 41, 41, 0.454); z-index: 1001; padding: 3px 15px 0px; color: rgba(165, 164, 164, 0.899)}
    #credit { float: left; width: 140px; text-align: left; top: 0px; left: 5px; }
    #credit .credit-line { font-size: 12px; letter-spacing: 1px; display: inline-block; vertical-align: top; margin-right: 2px; }

    #statbar { float: left; width: calc(100% - 150px); text-align: center;  top: 0px; left: 5px; }
    #statbar .foot-subhead { font-size: 12px; letter-spacing: 1px; display: inline-block; vertical-align: top; margin-right: 10px; }

    #foot .stat { font-size: 12px; display: inline-block; vertical-align: top; }
    #foot .stat-short-color {color: #ffffcc; }
    #foot .stat-medium-color {color: #084594f7; }
    #foot .stat-long-color {color: rgba(255, 166, 0, 0.913); }
    #foot .stat .value { color: rgb(70, 70, 70); font-family: 'Share Tech Mono'; letter-spacing: -1px; }
    #foot.color-coded .stat .value { color: red; }
    #foot .stat #result-short { min-width: 10px; }
    #foot .stat .result { display: inline-block; line-height: 1; }
  
    #info-panel { position: fixed; right: 0; top: 0; font-size: 18px; height: 25px; width: 40px; background: rgba(255, 255, 255, 0.952); overflow: hidden; z-index: 1003; }
    #info-open { color: black; width: 40px; position: absolute; top: 0; right: 0; padding-top: 0.1em; text-align: center; }
    .info-close { display: none; font-size: 20px; }
    #info-panel.open #info-open i::before { content: "\f00d"; }
    #info-panel.open .info-close { display: block; }
    #info-panel.open .info-close { margin: 30px 0; }
    #info-panel-inner { position: relative; color: black; text-align: left; margin: 50px auto; height: 100%; padding: 20px 20px; max-width: 600px; font-size: 15px; line-height: 1.2; }
    #info-panel-inner h1 { margin: 1em 0 0; }
    #info-panel-inner h2 { margin: 1em 0 0; font-size: 18px;font-weight: bold; }
    #info-panel-inner p { margin: 0.25em 0; }
    #info-panel-inner input { width: 100%; }
    
    #dashboard { float: left; width: calc(100% - 600px); top: 0px; left: 0; }
    #dashboard .dashboard-area { display: inline-block; vertical-align: top; text-align: center; }

    #dashboard #options .option-name { font-size: 13px; display: inline-block; vertical-align: top; }

    #options { display: inline-block; float: right; height: 100%; margin-right: 4px; }
    #options i { width: 1em; text-align: center; display: inline-block; }
    #options .option { display: inline-block; vertical-align: top; padding: 0 1px 1px; position: relative; font-size: 9px; height: 100%; }
    #options .option .option-name { height: 100%; width: 400px; left: 5px; }
    #options .option .option-menu { display: none; position: absolute; background: rgba(240, 239, 239, 0.664); width: 100%; padding: 1px 1px; text-align: left; }
    #options .option .option-menu .check.checked i::before { content: "\f00c"; }
    #options.hoverable .option:hover .option-menu,
    #options .option.visible .option-menu { display: block; top: 22px; left: 0; }
    #options .radio i { visibility: hidden; }
    #options .radio.selected i { visibility: visible; }
    #options .radio-name { display: inline-block; }
    
    #options #togglers .option-name { font-size: 14px; width: 75px; }
    #options #ages .option-name { font-size: 14px; width: 95px;}
    #options #earnings .option-name { font-size: 14px; width: 82px; }
    #options #industry .option-name { font-size: 14px; width: 121px; }

    /* Disable the filters menu if it has the .disabled class */
    #options #filters.disabled .option-name { color: #666; cursor: default; }
    #options.hoverable #filters.disabled:hover .option-menu { color: #999; }
    #options.hoverable #filters.disabled:hover .option-menu .btn:hover { opacity: inherit; cursor: default; }


  @media only screen and (max-width: 1300px) {
    #dashboard { width: auto; }
  }

  @media only screen and (max-width: 900px) {    
    #nav .nav-subhead { display: none; }
    #nav, #info-panel { height: 25px; }
    #info-panel  #info-open { padding-top: 0.2em; }
    #options { width: 100%; text-align: center; background: rgba(50,50,50,0.5); float: none; }
    .option-name { padding-top: 0px; }
    .option-menu { margin-top: 0px; }
    #foot { width: 100%; left: 0px; height: 35px; }
    #credit { left: 1px; }
    #statbar { text-align: right; width: 280px;    }
    }
  

  @media only screen and (max-width: 820px) {
    #nav .nav-subhead { display: none; }
    #nav, #info-panel { height: 25px; }
    #info-panel  #info-open { padding-top: 0.2em; }

    #options {
      width: 100%;
      text-align: left;
      padding-left: 3px;
      background: rgba(50, 50, 50, 0.5);
    }
    .option-name { padding-top: 0px; }
    .option-menu { margin-top: 0px; }
    body.guardian #dashboard { width: 170px; } /*To accommodate wider font*/
    #dashboard .dashboard-area { display: block; }
    #map .leaflet-control-zoom { bottom: 40px; }

    #foot { width: 100%;
      left: 0px;
      height: 35px;
    }
    #credit {
      display: none;
    }
    #statbar { text-align: right; width: 280px; }
    }
